.Login {
  text-align: center;
  background-color: #cc6b1b;
}

.Login-header {
  padding-top: 50px;
  background-color: #da4910;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Login-body {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background-color: #da4910;
  color: black;
  padding: 70px;
}

.Login-button {
  background-color: grey;
  color: black;
  min-width: 40vw;
  min-height: 7vh;
  margin: 20px;
}

.Usrname-input {
  color: black;
  min-width: 40vw;
  min-height: 3vh;
}

.Password-input {
  color: black;
  min-width: 40vw;
  min-height: 3vh;
}
