.AddAthletes {
  text-align: center;
  background-color: white;
}

.Add-Ath-Header {
  padding-top: 50px;
  background-color: white;
  max-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: #da4910;
}

.Add-Ath-Body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.Back-button {
  border-radius: 20px;
  border: 2px solid white;
  min-width: 8vh;
  min-height: 8vh;
  margin: 20px;
  background-color:white;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}
